body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.flex-container {
  background-color: #1f2937;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
