body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.flex-container {
  background-color: #1f2937;

  height: 500px;
}
.nav {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  float: right;
}

h2 {
  font-size: 24px;
  color: #f9faf8;
}
button {
  background-color: #3882f6;
  color: #e5e7eb;
}
