* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #EDEDEE;
    color: #A05841;
}

h4{
    font-family: 'Inter', sans-serif;
    color: #A05841;
    font-weight:bold;
}

.searchBar{
    background-color: #fff;
    margin: auto;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width:95vw;
    height:7vh; 
}
.searchbox{
    color:#A05841;
    line-height: 2;
    border: none;
}
input:focus{
    outline:none;
    border: #A05841;
}
::placeholder{
    color:#A05841;
    font-size: small;
}

.search{
    border: none;
    background-color: #fff;
}
.active{
    color: #A05841;
    font-size: small;
}

a {
    color: #A05841;
    text-decoration: none;
   }

.topNav{
    float:right;
}

.navIcon{
    color: #A05841;
    font-size: 17px;
    
}

.navBarList{
    margin: auto;
    width:97vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

ul{
    list-style: none;
}

.main-link{
    font-weight: lighter;
    display: inline;
    position: relative;
}

.navLinks{
    display: flex;
    margin-left: -50%;
    gap: 1em;
    font-size: 14px;
}

.navLinks li{
    padding: 5px;
}

.dropdown{
    background-color: #EDEDEE;
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li {
    background-color: #EDEDEE;
    padding: 0.5em 1em;
    width: 8em; 
}
.dropdown li:hover {
    background-color: #EDEDEE;
   }

.main-link:hover .dropdown {
    display: block;
    background-color: #EDEDEE;
}

input[type=checkbox]{
    display: none;
 } 

.fa-pagelines{
    font-size: 4rem;
    color: #fff;
}

.main_background{
    position: relative;
    margin:auto; 
    height: 100vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_background::before{
    content: "";
    background-image: url("images/annie-spratt-8mqOw4DBBSg-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}
.main-text{
   position: relative;
   align-self: center;
   margin-left:30%;
   display: inline-flex;
   color: #fff;  
   font-size: 15px;
   font-weight: lighter;
   gap: 2em;
   margin-top: -25%;
   line-height: 0.9;
   text-align: center;
}

h2:after{
    content: '';
	display: block;
	width: 100%;
    margin-top: 20%;
	height: 1px;
	background-color: #fff;
}
.heading{
    position: relative;
    color: #fff; 
    margin-left:-40%;
    text-align:center;
    font-size:3rem;
    }

.shop_now{
    padding:1%;
    padding-bottom:1.5%;
    height:7px;
    width:11%;
    color:#fff;
    background-color: #A05841;
}

.plant_row{
   margin-top: 5%;
   margin-bottom: 5%;
   display:flex;
   z-index:1;
   margin-left: 10px;
  
}

.about_img{
    height:70vh;
    float:right;

}
.plant1,.plant2,.plant3{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px;
    padding:20px;
    padding-top: 2%;
    width:100%;
    max-height:700px;
    min-width: 100px;
    background-color: #fff;
    z-index:1;
}
.plant-p_suc{
    margin-top: -2%;
    margin-bottom: 4%;

}
.plant-p_suc:after{
    content: '';
    display: block;
    margin: auto;
    width: 20px;
    margin-top: 15%;
    height: 3px;
    background-color: #A05841;
}
  
 .img1{
     max-height:350px;
     width:95%;
     margin-bottom:15px;
    
 } 

 .plant-p{
     margin-bottom: 5%;
 }
.plant-p:after{
        content: '';
        display: block;
        margin: auto;
        width: 20px;
        margin-top: 30%;
        height: 3px;
        background-color: #A05841;
    }
.shop_collection{
        text-align: center;
        padding:2.3%;
        padding-bottom:7%;
        height:8px;
        width:40%;
        color:#fff;
        background-color: #A05841;
        border: none;
        margin-bottom: 5%;
    }
.About{
    width:95vw;
    margin: auto;
}
.about_us{
  float: left;
  text-align: center;
  width: 50%;
  padding: 5%;
  height: 56vh;
  background-color: #fff;
}

.aboutus-h3:after{
    content: '';
    display: block;
    margin: auto;
    width: 20px;
    margin-top: 2%;
    margin-bottom: 5%;
    height: 3px;
    background-color: #A05841;
}
.about-p{
   width:80%;
   margin: auto;
}
.discount{
    float: right;
    text-align: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
    height: 59vh;
    background-color: #123132;
    color:#fff;
}
.discount-h3{
    padding-top: 10%;
    padding-bottom: 5%;
    line-height: 40px;
    font-size:xx-large;
    margin: auto;
    width:30%;
}
.about_img,.discount_img{
    float: left;
    width: 50%;
    height: 25vh;    
}
.about_img1{
    width:600px;
    height:400px;
}
.discount_img{
    width:710px;
}
.aboutus_row:after {
    content: "";
    display: table;
    clear: both;
  }
  .shop_now1{
    text-align: center;
    padding:2%;
    padding-bottom:4%;
    height:8px;
    width:25%;
    background-color:#fff;
    border: none;
    margin-bottom: 5%;
}

.requests{ 
    position: relative;
    margin:auto; 
    height: 100vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/scott-webb-oRWRlTgBrPo-unsplash.jpg");
    background-size: cover;
   
}
.requests::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(156, 154, 154, 0.226);
}

form{
    padding:2%;
    width:60%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input[type=text], select, textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #A05841;
    color: white;
    padding: 12px 20px;
    width:30%;
    border: none;
    cursor: pointer;
  }
  










/*
    
*/
